:root {
	/* light mode (default) */
	--primary-bg-color: #ffffff;
	--primary-text-color: #051860;
	--primary-hover-color: #39b6ff;

	/* dark mode */
	--secondary-bg-color: #023555;
	--secondary-text-color: #dddddd;
	--secondary-hover-color: #ffcc00dc;
}

/* ------------------------------- header ------------------------------ */

header {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; 
	position: fixed;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	padding: 10px 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 980px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	margin-left: 20px;
}

nav ul li a {
	color: var(--primary-text-color);
	text-decoration: none;
	font-size: 16px;
}

nav ul li a:hover {
	color: var(--primary-hover-color);
    /* text-decoration: underline; */
}

nav ul li button {
	color: var(--primary-text-color);
	background: none; /* 背景色を無しにする */
	border: none;
	font-size: 16px;
}

nav ul li button i:hover {
	color: var(--primary-hover-color);
    /* text-decoration: underline; */
}

/* Dark mode styling */
header.dark-mode {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-text-color);
}

header.dark-mode nav ul li a {
	color: var(--secondary-text-color);
}

header.dark-mode nav ul li a:hover {
	color: var(--secondary-hover-color);
}

header.dark-mode nav ul li button {
	color: var(--secondary-text-color);
}

header.dark-mode nav ul li button i:hover {
	color: var(--secondary-hover-color);
}


/* ------------------------------------------------------------------ */

/* ------------------------------ body ------------------------------ */
body {
	background: var(--primary-bg-color);
	padding-top: 4rem;
	margin: 0;
	font-family: Arial, sans-serif;
}

body.dark-mode {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-text-color);
}

main {
	padding-bottom: 60px; /* ヘッダーの高さ分のスペースを確保 */
}
